<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            You are connected as <strong> {{ user.username }}!</strong>
            <a href="/accounts/logout" >Logout !</a>
        {% else %}
            <h3>Log In</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">Log In</button>
            </form>
        {% endif %}
    </body>
</html>