<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ListMyCar - Index</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'cars/styles.css' %}">
  </head>
  <body>
      <div class="header">
          <h1>Welcome on ListMyCar !!</h1>
      </div>

  <p>Ma voiture c'est une {{ car.marque }}</p>
  </body>
</html>