<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ListMyCar - Index</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'cars/styles.css' %}">
  </head>
  <body>
      <div class="header">
          <h1>Welcome on ListMyCar !!</h1>
      </div>

      <div class="carBox">
        {% if cars_list %}
            {% for car in cars_list %}
                <div class="carCard">
                    <p>Marque : {{ car.marque }}</p>
                    <p>Modèle : {{ car.modele }}</p>
                    <p>Année de fabrication : {{ car.construct_year }}</p>
                    <p>Cylindré : {{ car.cylindres }}</p>
                    <p>Version : {{ car.version }}</p>
                    <div class="noteButton"><a href="/cars/{{ car }}/">Note moi!</a></div>
                </div>

            {% endfor %}
        {% else %}
            <p>No cars are available.</p>
        {% endif %}
      </div>
  </body>
</html>