body {
    margin: 0;
    padding: 0;
}

.header{
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
}

.carBox {
    display: flex;
}

.carBox > .carCard{
    background-color: #a14141;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    color: white;
}

.noteButton{
    background-color: brown;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
}

.noteButton:hover {
    background-color: green;
    cursor: pointer;
}